body {
    background-color: #202026;
    color: #eee;
	font-family: 'Droid Sans', sans-serif;
	font-size: 11pt;
	line-height: 13pt;
}

div#container {
	margin: 2em auto 2em auto;
	padding: 2em;
	width: 72em;
	background-color: #303030;
	border-radius: 11pt;
}

h1 {
	margin: 0 0.6em;
	padding: 0.5em;
	background-color: #393939;
	color: #c63;
	font-size: 24pt;
	line-height: 36pt;
	text-align: center;
	border-radius: 11pt;
}

h1#main-title {
	font-family: 'Droid Serif', serif;
	font-size: 36pt;
}

nav {
	margin: 2em;
	padding: 1em;
	background-color: #393939;
	border-radius: 11pt;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
	width: 10em;
}

nav ul li a {
	padding: 0.5em;
	color: #66f;
	background-color: #303030;
	text-decoration: none;
	border-radius: 6pt;
}

nav ul li a:visited {
	color: #66f;
	background-color: #303030;
	text-decoration: none;
}

nav ul li a:hover {
	color: #99f;
	background-color: #333333;
	text-decoration: none;
}

article {
	margin: 2em;
	padding: 1em 2em 2em 2em;
	background-color: #393939;
	border-radius: 11pt;
}

article header {
	margin: 0.5em 0 1em 0;
	padding: 0 0 0.5em 0;
	border-bottom: solid 2px #444;
}

article header h1 {
	margin: 0;
	padding: 0;
	background-color: #393939;
	text-align: left;
	border-radius: 0;
}

article p {
	text-align: justify;
	margin-bottom: 1em;
}

article p a {
	color: #66f;
	text-decoration: none;
}

article p a:visited {
	color: #66f;
	text-decoration: none;
}

article p a:hover {
	color: #99f;
	text-decoration: none;
}
