<!DOCTYPE html>
<html lang="en-CA">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Pfcuttle &mdash; {{ page.title }}</title>
		
		<link rel="stylesheet" type="text/css" href="/css/boilerplate.css" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700|Droid+Sans+Mono|Droid+Sans:400,700&v2' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!--[if lt IE 9]>
		<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js" />
		<![endif]-->
	</head>

	<body>
		<div id="container">
			<header>
				<h1 id="main-title">pfcuttle</h1>

				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</header>

			<div id="main" role="main">
				{{ content }}
			</div>

			<footer>
			</footer>
		</div>
	</body>
</html>
